/**
* Gridbased layout
*/

@import "grid.less";

// *, *:before, *:after {
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
// }

@magicNumber: 16px;

body {
    //background-color: green;
}

/*
.wrap-all {
    margin: 0 auto;
    border: 4px dashed pink;
    max-width: 950px;
    padding-top: 16px;
    border-radius: 40px;
    background-color: #eee;
    padding-bottom: 16px;
    margin-bottom: 16px;
}
*/

@columnWidth:   30;
@gutterWidth:   10;
@columns:       24;

.inner-wrap {
    @gridWidth: 900px;
    @gridImage: "../img/grid950x24x30x10-nomargin.png";
    //@gridImage: "../img/grid940x12x60x20-nomargin.png";
    .grid(@gridWidth);

    html.vgrid & {
        .showGrid(@gridWidth, @gridImage);
    }

    //&.inner-wrap-footer,
    &.inner-wrap-header {
        @gridWidth: 100%;
        .grid(@gridWidth);

        html.vgrid & {
            .showGrid(@gridWidth, @gridImage);
        }
    }
}

.row {
    .row();
}

.outer-wrap-header,
.outer-wrap-main,
.footer-column-wrapper {
    margin-bottom: @magicNumber;
}

.footer-column-wrapper {
    .clearfix();
}

.logo-1 {
    position: absolute;
    left: 100px;
    top: 100px;
}

.site-logo-text {
    .column(6);

    background-color: yellow;
    opacity: 0.5;
}

.navbar2 {
    .column(18);

    background-color: yellow;
    opacity: 0.5;
}


.main {
    .column(20);
    .push(2);

    background-color: green;
    opacity: 0.5;
}

.footer-column {
    .column(@columns/3);

    background-color: brown;
    opacity: 0.5;
}

.site-footer {
    .column(@columns);

    background-color: blue;
    opacity: 0.5;
    color: white;
    text-align: center;

    a {
        color: yellow;
    }
}
